{% extends 'main/base.html' %}
{% load static %}
{% block title %} {{ title }} {% endblock %}
{% block content %}
<h2> {{ heading }}</h2>
<table class="table table-striped table-hover" style="text-align: center; margin-top: 35px;">
    <thead>
    <tr>
        <th scope="col">Название группы</th>
        <th scope="col">
            <button type="button" class="btn btn-outline-primary"
                    onclick="window.location.href='{% url 'accounts:create_group' %}'">
                Добавить группу
            </button>
        </th>
    </tr>
    </thead>
    <tbody>
    {% for el in group_info %}
    <tr>
        <td>{{ el.name }}</td>
        <!-- Icons -->
        <td><a href="{% url 'accounts:update_group' pk=el.pk %}" class="fas fa-pen-square fa-2x"></a>
        </td>
        <td><a href="{% url 'accounts:delete_group' pk=el.pk %}" class="fas fa-backspace fa-2x"></a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}