{% extends 'main/base.html' %}
{% load static %}
{% block title %} {{ title }} {% endblock %}
{% block content %}
<h2>Профиль {{ user.username }}</h2>
<div class="main_center">
    <div class="about_left col" style="margin-right: 4rem">
        <img src='{% static "main/images/insurance-default-image.jpg" %}'
             style="width: 20rem; height: 20rem; border-radius: 50%; display: block">
    </div>
    <div class="about_right">
        <div class="profile_info">

            <div class="list-group">
                <div class="list-group-item list-group-item-action" aria-current="true">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="list-h5">Логин: {{ user_info.username }}</h5>
                    </div>
                </div>
                <div class="list-group-item list-group-item-action" aria-current="true">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="list-h5">Имя: {{ user_info.first_name }}</h5>
                    </div>
                </div>
                <div class="list-group-item list-group-item-action" aria-current="true">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="list-h5">Фамилия: {{ user_info.last_name }}</h5>
                    </div>
                </div>
                <div class="list-group-item list-group-item-action" aria-current="true">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="list-h5">Отчество: {{ user_info.patronymic }}</h5>
                    </div>
                </div>
                 <div class="list-group-item list-group-item-action" aria-current="true">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="list-h5">Email: {{ user_info.email }}</h5>
                    </div>
                </div>
                <div class="list-group-item list-group-item-action" aria-current="true">
                    <div class="btn-group d-flex w-100 justify-content-center">
<!--                        <button-->
<!--                                type="button"-->
<!--                                class="btn btn-outline-primary justify-content-center d-flex col-6"-->
<!--                                onclick=""-->
<!--                        >-->
<!--                            Редактировать профиль-->
<!--                        </button>-->
                        <button
                                type="button"
                                class="btn btn-outline-success justify-content-center d-flex col-6" style="padding: 1em 0"
                                onclick="window.location.href='{% url 'accounts:student_result_list' pk=user.id %}'"
                        >
                            Успеваемость
                        </button>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<h3>О пользователе:</h3>
<p class="about_justify">{{ user_info.about_user }}</p>
{% endblock %}