{% extends 'main/base.html' %}
{% load static %}
{% block title %} {{ title }} {% endblock %}
{% block content %}
<h2> {{ heading }} теста "Название теста"</h2> <!-- Добавить название теста, иначе можно запутатся. -->
<table class="table table-striped table-hover" style="text-align: center; margin-top: 35px;">
    <thead>
    <tr>
        <th scope="col" class="col-8">Вопрос</th>
        <th scope="col" class="col-4">
            <button type="button" class="btn btn-outline-primary"
                    onclick="window.location.href='{% url 'main:create_quest' test_id=test_id %}'">
                Добавить вопрос
            </button>
        </th>
    </tr>
    </thead>
    <tbody>
    {% for el in quest_info %}
    <tr>
        <td>{{ el.info }}</td>
        <!-- Icons -->
        <td><a href="{% url 'main:update_quest' test_id=test_id pk=el.pk %}" class="fas fa-pen-square fa-2x"></a>
        <a href="{% url 'main:delete_quest' test_id=test_id pk=el.pk %}" class="fas fa-backspace fa-2x"></a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}