{% extends 'main/base.html' %}
{% load static %}
{% block title %} {{ title }} {% endblock %}
{% block content %}
<h2>Вопросы для </h2>
<table class="table table-striped table-hover" style="text-align: center; margin-top: 35px;">
    <thead>
    <tr>
        <th scope="col">Информация</th>
        <th scope="col">
            <button type="button" class="btn btn-outline-primary"
                    onclick="">Добавить вопрос
            </button>
        </th>
    </tr>
    </thead>
    <tbody>
    {% for el in quest_info %}
    <tr>
        <td>{{ el.info }}</td>
        <!-- Icons -->
        <td><a href="" class="fas fa-comment-medical fa-2x"></a></td>
        <td><a href="" class="fas fa-pen-square fa-2x"></a></td>
        <td><a href="" class="fas fa-backspace fa-2x"></a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}