{% extends 'main/base.html' %}
{% load static %}
{% block title %} {{ title }} {% endblock %}
{% block content %}
<h2>{{ heading }} <a href="{% url 'main:quest_list' test_id=test_info.pk %}">«{{ test_info.name }}»</a></h2>
<div class="main_center">
    <div class="about_left col" style="margin-right: 4rem">
        <img src='{% static "main/images/insurance-default-image.jpg" %}'
             style="width: 20rem; height: 20rem; border-radius: 50%; display: block">
    </div>
    <div class="about_right">
        <div class="profile_info">

            <div class="list-group">
                <div class="list-group-item list-group-item-action" aria-current="true">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="list-h5">Тема: {{ test_info.theme }}</h5>
                    </div>
                </div>
                <div class="list-group-item list-group-item-action" aria-current="true">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="list-h5">Название: {{ test_info.name }}</h5>
                    </div>
                </div>
                <div class="list-group-item list-group-item-action" aria-current="true">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="list-h5">Автор: {{ test_info.author_id }}</h5>
                    </div>
                </div>
                <div class="list-group-item list-group-item-action" aria-current="true">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="list-h5">Дата создания: {{ test_info.appearance_date }}</h5>
                    </div>
                </div>
<!--                <div class="list-group-item list-group-item-action" aria-current="true">-->
<!--                    <div class="d-flex w-100 justify-content-between">-->
<!--                        <button type="button" class="btn btn-outline-success justify-content-between d-flex btn-lg" style="-->
<!--margin-top: 20px; margin: 0 auto;" onclick="window.location.href='{% url 'main:quest_list' test_id=test_info.pk %}'">-->
<!--                            Список вопросов-->
<!--                        </button>-->
<!--                    </div>-->
<!--                </div>-->
                <div class="list-group-item list-group-item-action" aria-current="true">
                    <div class="btn-group btn-group-lg col-12 mx-auto" role="group" aria-label="buttons">
                        <button type="button" class="btn btn-outline-primary justify-content-between d-flex" style="
margin-top: 20px; margin: 0 auto; text-align: center" onclick="window.location.href='{% url 'main:update_test' pk=test_info.pk %}'">
                            Редактировать тест
                        </button>
                        <button type="button" class="btn btn-outline-danger justify-content-between d-flex" style="
margin-top: 20px; margin: 0 auto; text-align: center" onclick="window.location.href='{% url 'main:delete_test' pk=test_info.pk %}'">
                            Удалить тест
                        </button>
                    </div>
                </div>
                <div class="list-group-item list-group-item-action" aria-current="true">
                    <div class="d-flex w-100 justify-content-between">
                        <button
                                type="button"
                                class="btn btn-outline-success justify-content-between d-flex btn-lg"
                                style="
margin-top: 20px; margin: 0 auto;"
                                onclick="window.location.href='{% url 'main:pass_test' pk=test_info.pk %}'"
                        >
                            Пройти тест
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<h3>О тесте:</h3>
<p class="about_justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
{% endblock %}